

h1 {
    margin-top: 25px;
    font-family: 'Dancing Script', cursive;
    color:#055052;
    font-size: 3.125rem;
}
body {
  color:#40514E;
  text-align:center;
  margin:0;
  font-family: 'Merriweather', serif;
}

 h2{
  margin-bottom:40px;
  font-family: 'Architects Daughter', cursive;
  color:#055052;
  font-size: 2rem;
  font-weight:normal;
}

h3 {
  color:#8F4F4F;
}
 .pic1 {
   width:25%;
   float:left;
   margin-right:30px;
 }
 .pic2 {
   width:25%;
   float:right;
   margin-left:30px;
 }
 p {
   line-height: 2;

 }

 .contact-me {
   width:30%;
   margin:40px auto 60px;

   }

  .intro {
   width:30%;
   margin:40px auto 60px;

 }

.skill-row {
  margin:100px auto 100px auto;
  width:50%;
  text-align:left;

}
.parah {
  height:435px;
}
.top-container {
  background-color: #FFDCDC;
  position:relative;
  padding:140px;
  padding-bottom:0;
}
.middle-container {
  margin:100px 0;
}

.cloud-1 {
  height:130px;
  width:180px;
  position:absolute;
  top:55px;
  right:450px;
}
.cloud-2 {
  height:150px;
  width:180px;
  position:absolute;
  bottom:300px;
  left:350px;
}
.sam {
  height:250px;
}

.bottom-container {
  height:100px;
  background-color:#FF9292;
  padding:50px 0 20px;
}
.btn {
  background: #60b6f0;
  background-image: -webkit-linear-gradient(top, #60b6f0, #11788f);
  background-image: -moz-linear-gradient(top, #60b6f0, #11788f);
  background-image: -ms-linear-gradient(top, #60b6f0, #11788f);
  background-image: -o-linear-gradient(top, #60b6f0, #11788f);
  background-image: linear-gradient(to bottom, #60b6f0, #11788f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Architects Daughter', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #021521;
  background-image: -webkit-linear-gradient(top, #021521, #01111c);
  background-image: -moz-linear-gradient(top, #021521, #01111c);
  background-image: -ms-linear-gradient(top, #021521, #01111c);
  background-image: -o-linear-gradient(top, #021521, #01111c);
  background-image: linear-gradient(to bottom, #021521, #01111c);
  text-decoration: none;
}

.copyright {
  padding:20px 0;
  color:#EAF6F6;
}

a {
  margin:10px 20px;
  color:#8F4F4F;
  text-decoration: none;
    font-family:'Architects Daughter', cursive;
}
a:hover {
  color:white;
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom:none;
    width: 5%;
    margin: 100px auto;
}
