/*  Importing Google Fonts Start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*  Importing Google Fonts End */

.loader{
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("images/load.gif") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	transition: all 0.5s;
  }
  .loader .ring{
	height: 45px;
	width: 45px;
	/* border: 5px solid #ddd; */
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .loader .ring:after{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	border-radius: 50%;
	/* border: 5px solid #ff3d00; */
	border-top-color: transparent;
	/* animation:1ms */
	/* animation: rotate 1.5s linear infinite; */
  }

/* Giving The Main Style To HTML Web Page Start */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}

/* Giving The Main Style To HTML Web Page End */


/* Custom Scroll Bar Start */

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Custom Scroll Bar End */


/* All Similar Content Styling Codes Start */

:root{
	--black : black;
	--white : white;
	--royalblue : royalblue;
}

.dark-theme{
	background: black;
	color: white;
}

section {
	padding: 100px 0;
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
.about .title::after,
.interests .title::after,
.skills .title::after,
.projects .title::after,
.contact .title::after,
footer .title::after{
	background: white;
}
.about,
.interests,
.skills,
.projects,
.contact,
footer {
	font-family: 'Poppins', sans-serif;
}
.about .about-content,
.interests .serv-content,
.skills .skills-content,
.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: black;
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -8px;
	left: 50%;
	font-size: 20px;
	color: royalblue;
	padding: 0 5px;
	background: white;
	transform: translateX(-50%);
}

/* navbar styling */
.navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky {
	padding: 15px 0;
	background: royalblue;
}
.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a {
	color: white;
	font-size: 35px;
	font-weight: 600;
}
.navbar .logo a span {
	color: yellow;
	transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
	color: white;
}
.navbar .menu li {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a {
	display: block;
	color: white;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover {
	color: royalblue;
}
.navbar.sticky .menu li a:hover {
	color: yellow;
}
.menu-btn {
	color: white;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: royalblue;
	right: 3%;
	bottom: 5111px;
	text-align: center;
	line-height: 45px;
	color: white;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	border-bottom-width: 2px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn.show {
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}
.scroll-up-btn:hover {
	filter: brightness(100%);
	background-color: black;
}

/* All Similar Content Styling Codes End */


/* Home Section Styling Start */

.home {
	display: flex;
	background: url("images/go.gif") no-repeat center;
	height: 100vh;
	color: white;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
	margin: auto 0 auto 30px;
}
.home .home-content .text-1 {
	font-size: 27px;
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span {
	color: yellow;
	font-weight: 500;
}
.home .home-content a {
	display: inline-block;
	background: royalblue;
	color: white;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	font-weight: 400;
	border-radius: 6px;
	border: 2px solid royalblue;
	transition: all 0.3s ease;
}
.home .home-content a:hover {
	color: royalblue;
	background: none;
}

/* Home Section Styling End */


/* About Section Styling Start */

.about{
	border-top: 1px solid gray;
}
.about .title::after {
	content: "Know me";
	border-radius: 20%;
	background-color: white;
	padding: 0.4%;
}
.about .about-content .left {
	width: 45%;
}
.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}
.about .about-content .right {
	width: 55%;
}
.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .about-content .right .text span {
	color: royalblue;
}
.about .about-content .right p {
	text-align: justify;
}
.about .about-content .right a {
	display: inline-block;
	background: royalblue;
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid royalblue;
	transition: all 0.3s ease;
}
.about .about-content .right a:hover {
	color: royalblue;
	background: none;
}

/* About Section Styling End */


/* Interests And Projects Section Styling Start */

/* .interests,
.projects {
	color: white;
	background: black;
} */
/* .interests .title::after,
.projects .title::after {
	background: black;
} */
.interests .title::after,
.projects .title::after {
	content: "Things I Love";
	border-radius: 20%;
	background-color: white;
	padding: 0.4%;
}

/* Interests And Projects Section Styling End */


/* Interests Section Styling Start */

.interests{
	border-top: 1px solid gray;
}
.interests .serv-content .card {
	width: calc(33% - 20px);
	background: #222;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.interests .serv-content .card:hover {
	background: royalblue;
}
.interests .serv-content .card .box {
	transition: all 0.3s ease;
	color: white;
}
.interests .serv-content .card:hover .box {
	transform: scale(1.05);
}
.interests .serv-content .card i {
	font-size: 50px;
	color: royalblue;
	transition: color 0.3s ease;
}
.interests .serv-content .card:hover i {
	color: white;
}
.interests .serv-content .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/* Interests Section Styling End */


/* Skills Section Styling Start */

.skills{
	border-top: 1px solid gray;
}
.skills .title::after {
	content: "My Learnings";
	border-radius: 20%;
	background-color: white;
	padding: 0.4%;
}
.skills .skills-content .column {
	width: calc(50% - 30px);
}
.skills .skills-content .left .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.skills .skills-content .left p {
	text-align: justify;
}
.skills .skills-content .left a {
	display: inline-block;
	background: royalblue;
	color: white;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid royalblue;
	transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
	color: royalblue;
	background: none;
}
.skills .skills-content .right .bars {
	margin-bottom: 15px;
}
.skills .skills-content .right .info {
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .right span {
	font-weight: 500;
	font-size: 18px;
}
.skills .skills-content .right .line {
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}
.skills .skills-content .right .line::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: royalblue;
}
.skills-content .right .html::before {
	width: 90%;
}
.skills-content .right .css::before {
	width: 80%;
}
.skills-content .right .js::before {
	width: 80%;
}
.skills-content .right .python::before {
	width: 50%;
}
.skills-content .right .jupyter::before {
	width: 40%;
}

/* Skills Section Styling End */


/* Projects Section Styling Start */

.projects{
	border-top: 1px solid gray;
}
.projects .title::after {
	content: "My work";
	border-radius: 20%;
	background-color: white;
	padding: 0.4%;
}
.projects .line{
	display: inline-flex;
}
.projects span a {
	color: yellow;
	text-decoration: none;
}
.projects span a:hover {
	text-decoration: none;
}
.projects span .social a {
	display: inline-block;
	width: 46px;
	height: 46px;
	text-align: center;
	padding-top: 0.3cm;
	background: black;
	color: white;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 15px;
}
.projects span .social a .fa {
	line-height: 46px;
}
.projects span .social a:nth-child(1):hover {
	color: white;
	box-shadow: 0 0 15px white;
	text-shadow: 0 0 15px white;
}
.projects .carousel .card {
	width: calc(33%);
	display: inline-table;
	height: 380px;
	background: #222;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 10px;
	border: 2px solid white;
}
.projects .carousel .card:hover {
	background: royalblue;
}
.projects .carousel .card .box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	color: white;
}
.projects .carousel .card:hover .box {
	transform: scale(1.05);
}
.projects .carousel .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
.projects .carousel .card img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid royalblue;
	transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
	border-color: white;
}

/* Projects Section Styling Start */


/* Contact Section Styling Start */

.contact{
	border-top: 1px solid gray;
}
.contact .title::after {
	content: "Get in Touch";
	border-radius: 20%;
	background-color: white;
	padding: 0.4%;
}
.contact .contact-content .column {
	width: calc(50% - 30px);
}
.contact .contact-content .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left p {
	text-align: justify;
}
.contact .contact-content .left .icons {
	margin: 10px 0;
}
.contact .contact-content .row {
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info {
	margin-left: 30px;
}
.contact .contact-content .row i {
	font-size: 25px;
	color: royalblue;
}
.contact .contact-content .info .head {
	font-weight: 500;
}
.contact .contact-content .info .sub-title::before {
	color: #333;
}
.contact .right form .fields {
	display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
.contact .right form .textarea {
	height: 80px;
	width: 100%;
}
.contact .right form .name {
	margin-right: 10px;
}
.contact .right form .email {
	margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
	border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
	padding-top: 10px;
	resize: none;
}
.contact .right form .button {
	height: 47px;
	width: 170px;
}
.contact .right form .button button {
	width: 100%;
	height: 100%;
	border: 2px solid royalblue;
	background: royalblue;
	color: white;
	outline: none;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover {
	color: royalblue;
	background: none;
}

/* Contact Section Styling End */


/* Footer Section Styling Start */

footer {
	background: black;
	padding: 15px 23px;
	color: white;
	text-align: center;
	border-top: 1px solid gray;
}
footer span a {
	color: yellow;
	text-decoration: none;
}
footer span a:hover {
	text-decoration: none;
}
footer span .social a {
	display: inline-block;
	width: 46px;
	height: 46px;
	text-align: center;
	padding-top: 0.3cm;
	background: black;
	color: white;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
	margin-bottom: 10px;
}
footer span .social a .fa {
	line-height: 46px;
}

footer span .social a:nth-child(1):hover {
	color: #26a4f2;
	box-shadow: 0 0 15px #1da1f2;
	text-shadow: 0 0 15px #1da1f2;
}
footer span .social a:nth-child(2):hover {
	color: #e23670;
	box-shadow: 0 0 15px #e1306c;
	text-shadow: 0 0 15px #e1306c;
}
footer span .social a:nth-child(3):hover {
	color: #2a6cbb;
	box-shadow: 0 0 15px #2867b2;
	text-shadow: 0 0 15px #2867b2;
}
footer span .social a:nth-child(4):hover {
	color: white;
	box-shadow: 0 0 15px white;
	text-shadow: 0 0 15px white;
}

/* Footer Section Styling End */

textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .wrapper {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }
  
  @media (min-width: 576px) {
	.wrapper {
	  max-width: 540px;
	}
  }
  
  @media (min-width: 768px) {
	.wrapper {
	  max-width: 720px;
	}
  }
  
  @media (min-width: 992px) {
	.wrapper {
	  max-width: 960px;
	}
  }
  
  @media (min-width: 1200px) {
	.wrapper {
	  max-width: 1140px;
	}
  }
  
  
  .d-grid {
	display: grid;
  }
  
  .text-center {
	text-align: center;
  }
  
  .text-left {
	text-align: left;
  }
  
  .text-right {
	text-align: right;
  }
  
  button,
  select {
	outline: none;
	appearance: none;
	-webkit-appearance: none;
  }
  
  button,
  .btn,
  select {
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  a {
	text-decoration: none;
  }
  
  iframe {
	border: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  p {
	margin: 0;
	padding: 0;
  }
  
  /* Section top bottom gap */
  .section-gap {
	padding: 4.5rem 0;
  }
  
  @media screen and (max-width:767px) {
	.section-gap {
	  padding: 3.5rem 0;
	}
  }
  
  @media screen and (max-width:480px) {
	.section-gap {
	  padding: 3rem 0;
	}
  }
  
  /* / Section top bottom gap */
  
  /* title-styling */
  h3.global-title {
	font-size: 40px;
	line-height: 45px;
	color: #16191e;
	margin-bottom: 50px;
	text-transform: capitalize;
  }
  
  @media screen and (max-width:767px) {
	h3.global-title {
	  font-size: 40px;
	  line-height: 45px;
	}
  }
  
  @media screen and (max-width:600px) {
	h3.global-title {
	  font-size: 35px;
	  line-height: 40px;
	}
  }
  
  @media screen and (max-width:500px) {
	h3.global-title {
	  font-size: 30px;
	  line-height: 35px;
	}
  }
  
  /* / title-styling */
  /* simple contact form */
  .contact-form {
	background: #eee;
  }
  
  .field {
	margin-bottom: 20px;
  }
  
  .form-mid {
	background: #fff;
	padding: 3rem;
	border: 1px solid #eee;
	border-radius: 4px;
  }
  
  .form-mid form input,
  .form-mid form textarea {
	background: #f8f9fa;
	border: 2px solid rgba(216, 216, 216, 0.3);
	color: #777;
	font-size: 16px;
	padding: 12px 15px;
	width: 100%;
	border-radius: 4px;
	height: 55px;
  }
  
  .form-mid form textarea {
	resize: none;
	min-height: 140px;
  }
  
  .form-mid form input:focus,
  .form-mid form textarea:focus {
	outline: none;
	border: 2px solid #051b35;
	background: #fff;
	box-shadow: none;
  }
  
  button.btn-contact {
	border: none;
	font-size: 16px;
	padding: 15px 30px;
	margin: 20px auto 0;
	color: #fff;
	background: #ff4c4c;
	border-color: #ff4c4c;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 0.25rem;
  }
  
  @media(max-width: 568px) {
	.form-mid {
	  padding: 1.5rem;
	}
  }
  
  /* /simple contact form */

/* Responsive Media Query Start */

@media (max-width: 1300px) {
	.home .max-width {
		margin-left: 0px;
	}
}

@media (max-width: 1104px) {
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
}

@media (max-width: 991px) {
	.max-width {
		padding: 0 50px;
	}
}
@media (max-width: 947px) {
	.menu-btn {
		display: block;
		z-index: 999;
	}
	.menu-btn i.active:before {
		content: "\f00d";
	}
	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: black;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active {
		left: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2 {
		font-size: 70px;
	}
	.home .home-content .text-3 {
		font-size: 35px;
	}
	.home .home-content a {
		font-size: 23px;
		padding: 10px 30px;
	}
	.max-width {
		max-width: 930px;
	}
	.about .about-content .column {
		width: 100%;
	}
	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.interests .serv-content .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.skills .skills-content .column,
	.contact .contact-content .column {
		width: 100%;
		margin-bottom: 35px;
	}
	.projects .carousel .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
}

@media (max-width: 690px) {
	.max-width {
		padding: 0 23px;
	}
	.home .home-content .text-2 {
		font-size: 60px;
	}
	.home .home-content .text-3 {
		font-size: 32px;
	}
	.home .home-content a {
		font-size: 20px;
	}
	.interests .serv-content .card {
		width: 100%;
	}
	.projects .carousel .card {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.home .home-content .text-2 {
		font-size: 50px;
	}
	.home .home-content .text-3 {
		font-size: 27px;
	}
	.about .about-content .right .text,
	.skills .skills-content .left .text {
		font-size: 19px;
	}
	.contact .right form .fields {
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email {
		margin: 0;
	}
	.scroll-up-btn {
		right: 15px;
		bottom: 15px;
		height: 38px;
		width: 35px;
		font-size: 23px;
		line-height: 38px;
	}
}

/* Responsive Media Query End */