body{
  margin: 0;
  text-align: center;
}

h1{
  font-weight: 300;
  font-size: 60px;
  margin-top: 50px auto 1px auto;
  font-family: 'Sacramento', cursive;

}

h3{
  color: #A97155;
}

h2{
font-weight: normal;
color: #247881;

font-size: 2.5rem;
    font-family: 'Cormorant Garamond', serif;
}
.middle-container{
    line-height: 1.5;
}
.top-container
{
  background-color: #8FBDD3;
  position: relative;
  padding-top: 100px;
}

.web{
  text-decoration: underline;
}

.bottom-cloud{
position: relative;
  left: 200px;
}

.top-cloud{
position: relative;
right: 200px;
bottom: 20px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #d17fc7;
  border-width: 5px;
  width: 10%;
}

.skills{
  padding-top: 50px;
  padding-bottom: 60px;
}
a{
  text-decoration: none;
  padding: 5px;
  color: #00092C;
}
a:hover{
  color: #CC704B;
}
.profile{
  padding-top: 50px;
  padding-bottom: 60px;
}

.bottom-container{
  padding-top: 30px;
  background-color: #FFF6EA;
  padding-bottom: 40px;
  align-content: space-between;
  text-decoration: #C8E3D4;
}
.skill-row{
  width: 50%;
  margin: 100px auto 50px auto;
  margin-top: auto;
  align-items: center;
  line-height: 1.5;
}
.skills-picture1{
  /*width: 27%;*/
  height: 180px;
  width: 180px;
  float: left;
  margin-right: 20px;
}
.skill-picture2{
/*  width: 25%;*/
height: 170px;
width: 180px;
  float: right;
  margin-left: 20px;
}




.btn {
  background: #d9347e;
  background-image: -webkit-linear-gradient(top, #d9347e, #2980b9);
  background-image: -moz-linear-gradient(top, #d9347e, #2980b9);
  background-image: -ms-linear-gradient(top, #d9347e, #2980b9);
  background-image: -o-linear-gradient(top, #d9347e, #2980b9);
  background-image: linear-gradient(to bottom, #d9347e, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #00f0a0;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
