* {
  scroll-behavior: smooth;
}
.bg-orange {
  background-color: #ff7f50;
  box-shadow: 0 0 10px 10px rgb(0 0 0/ 25%);
}
.main-div {
  margin: 5rem;
}
.main-div2 {
  margin: 10vh;
}
.nav-link {
  font-family: "Anton", sans-serif;
  color: #008080 !important;
  font-size: 25px;
}
.nav-ul {
  margin-right: 10%;
}
.nav-item {
  margin-left: 10%;
  margin-right: 10%;
}
.img-header {
  height: 40%;
  width: 40%;
}
.front-section-bg {
  background: url("https://kunalthedev.github.io/portfolio/images/header-bc.jpg");
  height: 92vh;
  background-attachment: fixed;
  background-size: cover;
}
.front-section-bg-layer {
  background-color: #0080806e;
  width: 100%;
  height: 100%;
}
.front-section-text {
  font-weight: 400 !important;
}

#about {
  color: teal !important;
  background: #ff7f5031;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  border: 10px solid whitesmoke;
  box-shadow: 2px 3px 5px 3px black;
}
.h1-about {
  display: flex;
  justify-content: center;
}

#project {
  color: teal !important;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer {
  width: 100%;
  background-color: #ff7f50;
  color: teal !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-row {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.footer-col {
  font-size: large;
}
.icon {
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

@media screen and (max-width: 767px) {
  .main-div {
    margin: 1rem;
  }
  .main-div2 {
    margin: 2vh;
  }
}
